<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>
<form method="POST" id="authForm">
    <div>
        <p>
            <h1>steam 게임 추천</h1>
        </p>
        <h3>로그인</h3>
        <p>
            <label for="id">ID&nbsp&nbsp&nbsp</label>
            <input type="text" id="id" name="id" placeholder="ID">
        </p>
        <p>
            <label for="pw">PW&nbsp&nbsp</label>
            <input type="password" id="pw" name="pw" placeholder="PW">
        </p>
    </div>
    <input type="submit" name="sign_in" value="로그인" style="width: 183pt"/>
    <p>
        <input type=button style="width: 183pt" value="회원가입" name="register" onclick="location.href='register'">
    </p>
</form>
    
</body>
</html>